Package: com.shade.vizon
Name: Vizon
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: Blur NC when presenting
Maintainer: Shade Zepheri <ziroalpha@gmail.com>
Author: Shade Zepheri <ziroalpha@gmail.com>
Section: Tweaks
